{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="relative w-full">
        <div>
            <img class="w-full" src="{% static "magasinphoto.png" %}"/>
            <div class="bg-black h-full w-full absolute top-0 o-0.6"></div>
        </div>
        <div class="absolute top-0 w-full pt-12px md:pt-68px lg:pt-177px">
            <h1 class="text-white font-24px font-bold text-center md:font-42px lg:font-84px">cocci<span class="text-orange">Market</span> Management</h1>
            <p class="text-white font-15px font-bold text-center md:font-19px lg:font-34px pt-12px">PLATEFORM DE MANAGEMENTE DU MAGASIN cocci<span class="text-orange">Market</span> DE LA VILLE DE POISSY</p>
            <p class="text-white font-15px font-bold text-center md:font-19px lg:font-34px pt-12px">NOTRE NUMÉRO: 09 62 65 85 92</p>
        </div>
    </section>

    <section class="relative overflow-hidden mx-auto width-70% md:width-35% my-37 br-radius-37px" style="box-shadow: 1px 1px 20px black;">
        <img src="{% static 'gestionstock.png' %}" class="width-100% bg-white" />
        <div class="bg-121826 py-8" style="padding-bottom: 20px;">
            <p class="text-white font-27px sm:font-34px text-center">Gestion De Stock</p>
            <div class="flex centerbetween" style="margin-top: 12px;">
                <a href="#" ><button class="items-center br-radius-5px border-none font-bold text-white bg-orange py-6 px-16" id="ouvrirgestionstock">Ouvrir</button></a>
            </div>
        </div>
    </section>

{% endblock %}